{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
	<h5>Our catalog</h5>
	<p>See below!</p>
    </div>
    <div class ="col-md-8">
	 <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication</th>
                <th>First Sentence</th>
            </tr>
        </thead>
	<tbody>
	  {% for book in books %}
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.published }} </td>
            <td>{{ book.first_sentence }}</td>
          </tr>
          {% endfor %}
	</tbody>
	 </table>
    </div>
</div>

{% endblock %}


